* {
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
   background-color: black;
   color: white;
   text-align: center;
   overflow: hidden;
}

h1 {
  height: 100vh;
  line-height: 90vh;
}

#vid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -1;
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 1.2em;
  }
}